
body{background-color: #00FFAB}
hr{background-color: white; border-style: none; border-top-style: dotted; width: 10%; border-color: grey; border-width: 03px}
h2{text-align: center; background-color: #00FFAB}
h3{background-color: green}
li{text-align: center;}
td{text-align: center;}
th{text-align: center;}
